/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    background: #0d0d0e;
    overflow-x: hidden;
}

/* MAIN TOP BAR */
.topbar {
    width: 100%;
    padding: 18px;
    background: #111214;
    border-bottom: 2px solid #00c8ff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* NAVIGATION BAR */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #111214;
    border-top: 2px solid #00c8ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    text-align: center;
    font-size: 13px;
    opacity: 0.6;
    transition: 0.3s ease;
    cursor: pointer;
}

.nav-item.active {
    opacity: 1;
    color: #00c8ff;
    transform: translateY(-5px);
}

/* FEED */
.feed {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background: #18191c;
    border-radius: 18px;
    padding: 18px;
    border: 1px solid #222;
    box-shadow: 0 0 12px #0006;
}

.post-username {
    font-size: 18px;
    font-weight: bold;
    color: #00c8ff;
    margin-bottom: 10px;
}

.post-content {
    font-size
