body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(160deg, #2b003a, #7a00cc, #d18fff);
    color: white;
    min-height: 100vh;
}

.screen { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    padding: 10px; 
}

.hidden { display: none; }

input, textarea {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(160deg, #5a00a8, #b266ff);
    color: white;
    font-size: 16px;
}

#bottomNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #4b0082;
    padding: 10px 0;
}

.mainScreen {
    width: 100%;
    max-width: 600px;
    margin-bottom: 60px; /* space for bottom nav */
    overflow-y: auto;
    max-height: calc(100vh - 80px);
}

.post, .marketItem, .messageItem {
    background: #5a00a8;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
